.products{
	width: 80%;
	@include flex;
	flex-wrap: wrap;
	margin: auto;

	h2 {
		text-align: center;
		width: 100%;
	}
}

.card {
	@include flex;
	border: $border;
	flex-direction: row;
	flex-wrap: wrap;
	width: 40%;

}